@charset "UTF-8";
body{
	background-color: #e9dcc9;
}
.headder {
	background-color: #d4e1e9;
	border: 3px solid #037492;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.link{
	border-bottom: 4px solid #e2cf11;
	color: #037492;
	text-decoration: none;
	font-size: x-large;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.link:hover{
	color: rgba(3,116,146,.5);
	border-bottom: 6px solid rgba(226,207,17,.5);
}
.title{
	text-align: center;
	color: #037492;
	font-size: xxx-large;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}