@charset "UTF-8";

body{
	background-color: #e9dcc9;
	margin: 20px;
    font-weight: 200;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

/* --------------------- MAIN --------------------- */

*{
    box-sizing: border-box;
}
#parent {
	display: flex;
}
/* -------------- LEFT -------------- */

#wide {
	flex: 1;
	background-color: #d4e1e9;
	border: 3px solid #037492;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
#picDiv{
	display: flex;
	width: 100%;
	align-items: center;
	
}
.clear{
	clear: both;
}
.picture{
	margin: 20px;
	flex-grow: 1;
	border: 3px solid #037492;
}

#wide p{
	padding: 20px;
	font-size: larger;
	color: #02364c;
}

/* -------------- RIGHT -------------- */

#narrow {
	flex: 1;
	background-color: #d4e1e9;
	border: 3px solid #037492;
	padding: 20px;
}
#narrow h1,#narrow h2,#narrow h4{
	padding: 5px;
	margin: 0;
	color: #02364c;
}
#narrow h3{
	margin: 0;
	padding: 15px 5px 5px 5px;
	color: #02364c;
	text-decoration: underline;
	-webkit-text-decoration-color: #e2cf11;  
	text-decoration-color:#e2cf11 ;
}
#narrow h5,#narrow h6,#narrow li{
	padding-left: 5px;
	margin: 0;
	font-weight: normal;	
	color: #037492;
}
#narrow ul{
	margin: 7px; 
	color: #037492;
} 

@media only screen and (max-width: 760px) {
	#parent{ 
		flex-direction: column;
	}
}