/* --------------------- HEADER --------------------- */
*{
    box-sizing: border-box;
}
#header {
	background-color: #d4e1e9;
	border: 3px solid #037492;
	display: flex;
	justify-content: space-around;
	align-items: center;
    padding: 10px;
}
                 
/* -------------- LEFT -------------- */

#header-left{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#header-right{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo{              
	border: 3px solid #037492;
    margin: 4px;
    height: 100px;
    width: 100px;
}

.title{
	text-align: center;
	color: #037492;
    font-size: 50px;
    margin: 0px;
}

/* -------------- RIGHT -------------- */

.link{
	color: #037492;
	text-decoration: none;
	font-size: 25px;
}
.link:hover{
	color: rgba(3,116,146,.5);
	border-bottom: 3px solid rgba(226,207,17,.5);
}
.active{
    border-bottom: 3px solid #e2cf11;
}
/* --------------------- SPACE --------------------- */

.space{
	width: 20px;
	height: 20px;
}

@media only screen and (max-width: 760px) {
	#header{ 
        flex-direction: column;
    }
    #header-left{
        flex-direction: column;
        width: 100%;
    }
}