@charset "UTF-8";

body{
	background-color: #e9dcc9;
	margin: 20px;
    font-weight: 200;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

/* --------------------- MAIN --------------------- */

*{
    box-sizing: border-box;
}
#main{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.row{
	display: flex;
	background-color: #d4e1e9;
	border: 3px solid #037492;
}
.row-odd{
	display: flex;
	flex-direction: row-reverse;
	background-color: #d4e1e9;
	border: 3px solid #037492;
}
.mainLeft{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: #02364c;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}
.mainLeft h2{
	text-decoration: underline;
	text-align: center;
	-webkit-text-decoration-color: #e2cf11;  
	text-decoration-color:#e2cf11 ;
}


.mainRight{
	width: 50%;
	color: #fff;
	position: relative;
	border-left: 3px solid #037492;
}
.mainRight-odd{
	width: 50%;
	color: #fff;
	position: relative;
	border-right: 3px solid #037492;
}
.slider {
	position: relative;
	overflow: hidden;
	height: 400px;
	width: 100%;
  }
  .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
  }
  .slide.current {
	opacity: 1;
	z-index: 1;
  }
  .slide .content {
	position: absolute;
	bottom: 0px;
	bottom: -300px;
	opacity: 0;
	width: 100%;
	background-color: rgb(211,225,233, .8);
	border-top: 3px solid #037492;
	color: #02364c;
	padding: 10px;
	padding-bottom: 55px;
  }
  .slide .content h2 {
	/* text-decoration: underline;
	-webkit-text-decoration-color: #e2cf11;  
	text-decoration-color:#e2cf11 ; */
	margin: 10px 0px;
  }
  .slide.current .content {
	opacity: 1;
	transform: translateY(-300px);
	transition: all 0.7s ease-in-out 0.3s;
  }
  .buttons button.next {
	position: absolute;
	bottom: 10px;
	right: 15px;
  }
  .buttons button.prev {
	position: absolute;
	bottom: 10px;
	left: 15px;
  }
  .buttons button {
	border: 4px solid #037492;
	background-color: transparent;
	color: #037492;
	cursor: pointer;
	padding: 13px 15px;
	border-radius: 50%;
	outline: none;
	z-index: 2;
  }
  .buttons button:hover {
	background-color: #d4e1e9;
	color: #02364c;
  }
  
  /* Backgorund Images */
   
  .bg1 {
	background: url('../images/portfolio/Slide0/bentonvilleSchools.png') no-repeat center top/cover;
  }
  .bg-fish {
	background: url('../images/portfolio/Slide0/fish.png') no-repeat center top/cover;
  }
  .bg-howToHtml{
	background-image: linear-gradient(to right, red , yellow);
  }
  .bg-toyDrive{
	background: #a6a6a6 url('../images/portfolio/Slide0/Teddy.svg') no-repeat center top/cover;
  }
  .bg-multiMenu{
	background: url('../images/portfolio/Slide0/multiMenu.jpeg') no-repeat center top/cover;
  }


  .bg-snake{
	background: url('../images/portfolio/Slide1/snake.PNG') no-repeat center top/cover;
  }
  .bg-flappyBlock{
	background: url('../images/portfolio/Slide1/flappyBlock.PNG') no-repeat center top/cover;
  }


  .bg-dadJoke{
	background: url('../images/portfolio/Slide2/dadJoke.jpg') no-repeat center top/cover;
  }
  .bg-reactTic{
	background: url('../images/portfolio/Slide2/tic_tac_toe.png') no-repeat center top/cover;
  }
  .bg-reactHowTo{
	background: #343a40 url('../images/portfolio/Slide2/howTo.jpg') no-repeat center top/cover;
  }


  .bg-contact{
	background: url('../images/portfolio/Slide3/contact.png') no-repeat center top/cover;
  }
  .bg-cPlus1{
	background: url('../images/portfolio/Slide3/cPlus1.PNG') no-repeat center top/cover;
  }
  .bg-cPlus2{
	background: url('../images/portfolio/Slide3/cPlus2.PNG') no-repeat center top/cover;
  }
  .bg-payPal{
	background: url('../images/portfolio/Slide3/payPal.png') no-repeat center top/cover;
  }

@media only screen and (max-width: 760px) {
	.row, .row-odd { 
		flex-direction: column;
		align-items: center;
	}
	.mainLeft, .mainRight, .mainRight-odd{
		width: 100%;
	}
	.mainRight, .mainRight-odd{
		border-top: 3px solid #037492;
		border-left: none;
		border-right: none;
	}
}