/* --------------------- HEADER --------------------- */
*{
    box-sizing: border-box;
}
#header {
	background-color: #d4e1e9;
	border: 3px solid #037492;
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 10px;
}
                 
/* -------------- LEFT -------------- */

#header-left{
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}
#header-right{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}
#header .logo{              
	border: 3px solid #037492;
    margin: 4px;
    height: 100px;
    width: 100px;
}

.title{
	text-align: left;
	color: #037492;
    font-size: 50px;
    margin: 0px;
}

/* -------------- RIGHT -------------- */

.link{
	color: #037492;
	text-decoration: none;
	font-size: 25px;
}
.active{
    border-bottom: 3px solid #e2cf11;
}
/* --------------------- SPACE --------------------- */

.space{
	width: 20px;
	height: 20px;
}

@media only screen and (max-width: 760px) {
	#header{ 
        flex-direction: column;
    }
    #header-left{
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
	}
	#header-right{
		width: 100%;
	}
    .title{
        text-align: center;
    }
}